.muses-purple {
    color: $muses-purple;
}

abbr {
    text-decoration: none;
}

.readable {
    font-size: 1.2rem;
}

.header-filter:after {
    background: $muses-gradient-filter;
    background: -webkit-linear-gradient(55deg, rgba(255, 28, 70, .70), rgba(255, 28, 70, .45), rgba(212, 0, 255, .30), rgba(212, 0, 255, 0) 70%);
}

.home {
    .header-filter {
        background-position-y: bottom;
    }

    .section {
        padding: 25px 0;
    }

    .section-dark {
        color: white;
        background: $muses-gradient;

        .title {
            color: white;
        }
    }

    .info {
        padding: 0;
    }
}

.md-card img {
    border-radius: 6px;
    background: -webkit-linear-gradient(135deg, rgba(168, 39, 76, 1), rgba(87, 13, 23, 1));
    background: transparent;
    filter: grayscale(0.2);
}

.md-card .md-card-header.md-card-header-image {
    padding: 0;
    background: transparent;
}

.md-card .md-card-header-image {
    position: relative;
    padding: 0;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    background: transparent;
}

.md-card .md-card-header-image .colored-shadow {
    -webkit-transform: scale(.94);
    transform: scale(.94);
    top: 12px;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    -webkit-transition: opacity .45s;
    transition: opacity .45s;
    opacity: 0;
}

.about {
    .header-filter:after {
        //background: linear-gradient(55deg, rgba(255, 28, 70, .70), rgba(255, 28, 70, .45), rgba(212, 0, 255, .30), rgba(212, 0, 255, 0) 70%);
        background: $muses-gradient
    }
}

.board {
    .header-filter:after {
        //background: linear-gradient(55deg, rgba(255, 28, 70, .70), rgba(255, 28, 70, .45), rgba(212, 0, 255, .30), rgba(212, 0, 255, 0) 70%);
        background: $muses-gradient
    }

    .md-button .md-ripple .md-button-content .fab,
    .fullname {
        color: $muses-purple !important;
    }


    h1,
    h2 {
        font-variant: small-caps
    }

    h1 {
        padding: 70px 0 35px 0;
        font-size: 2.0rem;
    }

    h2 {
        padding: 0 0 35px 0;
        font-size: 1.7rem;
    }

    .main {
        .section {
            .container {
                background-color: rgba(255, 255, 255, .7);
            }
        }
    }

    .section-dark {
        background-color: $muses-gradient;
    }

    .introduction {
        font-size: 1.2rem;
        line-height: 1.8;
        text-align: justify
    }

    .person {
        display: flex;

        .md-card {
            // box-shadow: none;
            flex-direction: column;
            display: flex;

            .md-card-content {
                padding: 0 1.475rem;
                flex: 1 0 auto;

                .card-title {
                    margin-top: 0;
                }

                h6 {
                    margin-top: 0;
                }
            }
        }
    }

    .portrait {
        img {
            filter: grayscale(100%);
            transition: 0.5s;
            animation-timing-function: ease-in-out;

            &:hover {
                filter: grayscale(0%);
            }
        }
    }


    .md-card .md-card-header-image .colored-shadow {
        filter: blur(12px) grayscale(100%);
        transition: 0.5s;
        animation-timing-function: ease-in-out;

        &:hover,
        &:focus {
            filter: blur(12px) grayscale(0%);
        }
    }

}

.advocacies {
    .header-filter:after {
        background: rgba(0, 0, 0, .77);
        // background: linear-gradient(55deg, rgba(255, 28, 70, .88), rgba(243, 177, 131, .70));
        // background: linear-gradient(55deg, rgba(255, 28, 70, .99), rgba(212, 0, 255, .66));
        // background: -webkit-linear-gradient(55deg, rgba(255, 28, 70, .77), rgba(255, 28, 70, .45), rgba(212, 0, 255, .45), rgba(212, 0, 255, .66));
    }

    .editorial {
        display: flex;

        .md-card-background {
            height: 450px;
        }

        .md-card-content {
            display: flex;
            flex-direction: column
        }

        .editorial-title {
            display: flex;
            align-items: flex-end;
        }
    }

    .md-card {

        &.back-background:after,
        &.front-background:after,
        &.md-card-background:after {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            display: block;
            left: 0;
            top: 0;
            content: "";
            background-color: rgba(0, 0, 0, .75);
            border-radius: 6px;
        }

        &.md-card-background.editorial:after {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            display: block;
            left: 0;
            top: 0;
            content: "";
            background: linear-gradient(90deg, rgba(0, 0, 0, .50) 5%, rgba(0, 0, 0, .1) 95%);
            background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .50) 5%, rgba(0, 0, 0, .1) 95%);
            border-radius: 6px;
        }

        &.md-card-background {
            display: flex;
            flex-direction: column;

            .card-title {
                color: #fff !important;
                margin-top: 10px;
                font-weight: 400;
                font-variant: small-caps;
            }

            .md-card-content {
                position: relative;
                z-index: 2;
                padding-top: 40px;
                padding-bottom: 40px;
                flex: 1 0 auto;
            }

            .card-description,
            .md-card-background small {
                color: hsla(0, 0%, 100%, .88) !important;
            }

            .md-card-actions {
                position: relative;
                color: #fff !important;
                z-index: 3;
            }
        }

        .card-description {
            font-size: 1rem;
            font-weight: 400;
            line-height: 28px;
        }
    }

    .highlight {
        .card-description {
            font-size: 1rem;
        }
    }
}

.advocacy {
    li {
        font-family: $font-family-serif;
    }
}